@import url('http://fonts.googleapis.com/css?family=Delius');
/* Averia Sherif Libre, Fondamento, Delius Swash Caps,Mirza, Medula One, Averia Sans Libre, Nova Slim, Flamenco, Mountains of Christmas, Nova Round, Henny Penny, Lancelot, Supermercado One,
*/


body {
    font-family: Delius;
    font-weight: lighter;
}

h1 {
    text-align: center;
    font-weight: lighter;
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

p, a {
    color: gray;
    line-height: 1.7em;
    font-size: 13pt;
}

p {
    opacity: 0.0;
    transition: opacity 1.0s;
}

p.show {
    opacity: 1.0;
}

p.choice {
    text-align: center;
}

a:hover {
    color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
